<% provide(:title, "Contact Me") %>
<% provide(:description, "Get in touch with Dylan Jones via the internet. Drop me a message about anything you want.") %>

<h1>Get In Touch</h1>
<section class="row">
	<article class="col-md-6">
		<p>If you would like to get in contact with me, then you can in the following ways:-</p>
		<nav class="list-group lead">
		<% @contact.each do |contact| %>
  			<%= link_to brand_icon(contact[:icon]) + " " + contact[:text], contact[:link], class: "list-group-item" %>
		<% end %>
		</nav>
  	</article>
	<article class="col-md-6">
  		<p>If you have a problem or suggestion for the website, raise an issue on <a href="https://github.com/dylan8902/website/issues">GitHub</a>.</p>
		<%= form_tag(contact_path) do |f| %>
		   <div class="form-group">
				<%= label_tag :name %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder: "Your Name", required: "true" %>
			</div>
			<div class="form-group">
				<%= label_tag :email %>
				<%= email_field_tag :email, nil, class: "form-control", placeholder: "Email Address", required: "true" %>
			</div>
			<div class="form-group">
			 	<%= label_tag :message %>
				<%= text_area_tag :message, nil, class: "form-control", placeholder: "Leave a message", required: "true" %>
			</div>
			<%= recaptcha_tags(display: { theme: 'clean'} ) %>
			<%= submit_tag "Send Message", class: "btn btn-primary" %>
		<% end %>
	</article>
</section>
