<% provide(:title, "About Me") %>
<% provide(:description, "Hello! I am Dylan Jones from Llandrindod Wells who works at BT as a software engineer.") %>
<% provide(:image, "http://farm8.staticflickr.com/7195/6869666753_a80f8d3f24_z.jpg") %>

<h1>About Me</h1>

<section class="row">
	<article class="col-md-8">

		<section class="row">
			<article class="col-md-6">
				<p class="lead">A web developer/software engineer at BT who is addicted to salt and vinegar pringles.</p>
			</article>
		</section>

		<section class="row">
			<article class="col-md-6">
				<h4>Background</h4>
				<p>Hello, I am Dylan Jones from Llandrindod Wells. I went to York &amp; Leeds university to study Electronic &amp; Communications Engineering.</p>
			</article>
			<article class="col-md-6">
				<h4>Hobbies</h4>
				<p>
					Things I like doing in my spare time are: going to <a href="/blog/tags/hack%20day">hack days</a>,
					bicycling, using APIs, eating, going on <a href="/trains">trains</a>, running and <a href="/blog/tags/recipes">cooking</a>.
				</p>
			</article>
		</section>

		<section class="row">
			<article class="col-md-6">
				<h4>Work</h4>
				<p>I joined the BT software engineering graduate scheme after my <abbr title="Bachelor of Engineering">BEng</abbr> degree in 2012.</p>
				<p>I work in Cardiff in the 'Asset Management &amp; Monitoring' software development team developing tools to look after the BT IT estate.</p>
			</article>
			<article class="col-md-6">
				<h4>Skills</h4>
				<ul>
					<li>Android</li>
					<li>Ruby</li>
					<li>CSS</li>
					<li>JavaScript</li>
					<li>PHP</li>
					<li>iOS</li>
					<li>API Integration</li>
				</ul>
			</article>
		</section>

	</article>

	<article class="col-md-4">
		<img src="http://farm8.staticflickr.com/7195/6869666753_a80f8d3f24_z.jpg" alt="Me outside a pretty building">
	</article>

</section>

<footer>
	<h3>
	<%= link_to icon("music"), "http://open.spotify.com/user/dylan8902" %>
	<%= link_to icon("youtube"), "http://youtube.com/user/dylan8902" %>
	<%= link_to icon("facebook"), "http://www.facebook.com/dylan8902" %>
	<%= link_to icon("twitter"), "http://www.twitter.com/dylan8902" %>
	<%= link_to icon("flickr"), "http://www.flickr.com/dylanjamesvernonjones" %>
	<%= link_to icon("android"), "https://play.google.com/store/apps/developer?id=Dylan+Jones" %>
	<%= link_to icon("dropbox"), "https://db.tt/KclQRMs" %>
	<%= link_to icon("foursquare"), "https://foursquare.com/dylan8902" %>
	<%= link_to icon("ticket"), "http://lanyrd.com/profile/dylan8902" %>
	<%= link_to icon("puzzle-piece"), " http://www.programmableweb.com/profile/dylan8902" %>
	<%= link_to icon("stackexchange"), "http://stackoverflow.com/users/1164608/dylan-jones" %>
	<%= link_to icon("github"), "https://github.com/dylan8902" %>
	<%= link_to icon("google-plus"), "https://google.com/profiles/dylan8902" %>
	<%= link_to icon("linkedin"), "http://uk.linkedin.com/in/dylanjamesvernonjones" %>
	<%= link_to icon("skype"), "skype://dylanjamesvernonjones?userinfo" %>
	<%= link_to icon("headphones"), "https://www.songkick.com/users/dylan8902" %>
	<%= link_to icon("comment"), "https://www.quora.com/Dylan-Jones-1" %>
	</h3>
</footer>
