<% provide(:title, "About Me") %>
<% provide(:description, "Hello! I am Dylan Jones from Llandrindod Wells who works at BT as a software engineer.") %>
<% provide(:image, "http://farm8.staticflickr.com/7195/6869666753_a80f8d3f24_z.jpg") %>

<h1>About Me</h1>

<section class="row">
	<article class="col-md-8">

		<section class="row">
			<article class="col-md-6">
				<p class="lead">A software engineer who is addicted to salt and vinegar pringles.</p>
			</article>
		</section>

		<section class="row">
			<article class="col-md-6">
				<h4>Background</h4>
				<p>Hello, I am Dylan Jones from Llandrindod Wells. I went to York &amp; Leeds university to study Electronic &amp; Communications Engineering.</p>
			</article>
			<article class="col-md-6">
				<h4>Hobbies</h4>
				<p>
					Things I like doing in my spare time are: going to <a href="/blog/tags/hack%20day">hack days</a>,
					bicycling, using <a href="/api">APIs</a>, eating, going on <a href="/trains">trains</a>, <a href="/running">running</a> and <a href="/blog/tags/recipe">cooking</a>.
				</p>
			</article>
		</section>

		<section class="row">
			<article class="col-md-6">
				<h4>Work</h4>
				<p>I joined the BT software engineering graduate scheme after my <abbr title="Bachelor of Engineering">BEng</abbr> degree in 2012.</p>
				<p>I am currently working in Cardiff in BT Security, working on <a href="https://newsroom.bt.com/bt-launches-transformational-new-security-platform">a new security platform called 'Eagle-i'</a>.</p>
			</article>
			<article class="col-md-6">
				<h4>Skills</h4>
				<ul class="list-unstyled">
					<li><%= solid_icon "laptop-code fa-fw" %> Java, Python, Ruby, Go</li>
					<li><%= solid_icon "mobile-alt fa-fw" %> Android, iOS development</li>
					<li><%= solid_icon "code fa-fw" %> HTML, CSS, JavaScript</li>
					<li><%= solid_icon "terminal fa-fw" %> API integration</li>
					<li><%= solid_icon "cloud fa-fw" %> AWS/Google Cloud</li>
					<li><%= solid_icon "robot fa-fw" %> Terraform/Puppet/Ansible</li>
				</ul>
			</article>
		</section>

	</article>

	<article class="col-md-4">
		<img src="https://farm8.staticflickr.com/7195/6869666753_a80f8d3f24_z.jpg" alt="Me outside a pretty building" class="thumbnail">
	</article>

</section>

<footer>
	<h3>
		<%= link_to brand_icon("spotify"), "http://open.spotify.com/user/dylan8902" %>
		<%= link_to brand_icon("youtube"), "http://youtube.com/user/dylan8902" %>
		<%= link_to brand_icon("facebook"), "http://www.facebook.com/dylan8902" %>
		<%= link_to brand_icon("twitter"), "http://www.twitter.com/dylan8902" %>
		<%= link_to brand_icon("flickr"), "http://www.flickr.com/dylanjamesvernonjones" %>
		<%= link_to brand_icon("android"), "https://play.google.com/store/apps/developer?id=Dylan+Jones" %>
		<%= link_to brand_icon("dropbox"), "https://db.tt/KclQRMs" %>
		<%= link_to brand_icon("foursquare"), "https://foursquare.com/dylan8902" %>
		<%= link_to solid_icon("puzzle-piece"), " http://www.programmableweb.com/profile/dylan8902" %>
		<%= link_to brand_icon("stackexchange"), "https://stackoverflow.com/users/7436160/dylan-jones" %>
		<%= link_to brand_icon("github"), "https://github.com/dylan8902" %>
		<%= link_to brand_icon("linkedin"), "https://www.linkedin.com/in/dylan8902/" %>
		<%= link_to brand_icon("skype"), "skype://dylanjamesvernonjones?userinfo" %>
		<%= link_to solid_icon("headphones"), "https://www.songkick.com/users/dylan8902" %>
		<%= link_to icon("comment"), "https://www.quora.com/Dylan-Jones-1" %>
		<%= link_to solid_icon("beer"), "https://untappd.com/user/dylan8902" %>
		<%= link_to brand_icon("lastfm"), "http://www.last.fm/user/dylan8902" %>
		<%= link_to brand_icon("strava"), "https://www.strava.com/athletes/23826417" %>
		<%= link_to brand_icon("instagram"), "https://www.instagram.com/dylan8902/" %>
	</h3>
</footer>
