<% provide(:title, "Analytics:: #{@analytic.id}") %>
<% provide(:description, "Someone from #{@analytic.ip} visited #{@analytic.uri}") %>

<h1>Analytics</h1>
<ol class="breadcrumb">
  <li><%= link_to 'Analytics', analytics_path %></li>
  <li class="active"><%= @analytic.id %></li>
  <li><%= link_to 'Statistics', analytics_stats_path %></li>
</ol>

<h2><%= link_to @analytic.uri, @analytic.uri %></h2>
<h3><%= link_to @analytic.ip, analytics_search_path + "?ip=#{u(@analytic.ip)}" %></h3>
<p><%= link_to @analytic.user_agent, analytics_search_path + "?user_agent=#{u(@analytic.user_agent)}" %></p>
<p><%= link_to @analytic.referer, analytics_search_path + "?referer=#{u(@analytic.referer)}" if @analytic.referer %></p>
<p><%= timestamp @analytic.created_at %></p>
<%= link_to 'Back', analytics_path %>
