<% provide(:title, "Facebook Analysis") %>
<% provide(:description, "An analysis of your facebook feed. Who likes your stuff and posts on your wall the most?") %>
<h1>Facebook Analysis</h1>

<article id="welcome" class="well">
	<h4>See who interacts with you the most on Facebook: likes, wall posts and comments etc.</h4>
	<button id="go" class="btn btn-large btn-primary"><%= icon("search") %> Analyse my Facebook</button>
	<div id="progress" class="progress progress-striped active" style="display:none">
  		<div class="progress-bar" style="width:100%"></div>
	</div>
</article>

<script>
	$(document).ready(function() {
	var token;
	jQuery.fn.exists = function(){return jQuery(this).length>0;}
	function process(data) {
		for(var i in data.data) {
			if(typeof data.data[i].likes!='undefined') {
				for(var a in data.data[i].likes.data) {
					if($('#friend-'+data.data[i].likes.data[a].id).exists())
						$('#friend-'+data.data[i].likes.data[a].id+'-likes').append('<%= icon("thumbs-up-alt") %>');
					else {
						$('#results').append('<section class="row" id="friend-'+data.data[i].likes.data[a].id+'"><section class="col-md-2 text-center"><img src="http://graph.facebook.com/'+data.data[i].likes.data[a].id+'/picture?type=square"><p><a href="http://www.facebook.com/profile.php?id='+data.data[i].likes.data[a].id+'">'+data.data[i].likes.data[a].name+'</a></p></section><section id="friend-'+data.data[i].likes.data[a].id+'-likes" class="col-md-3"></section><section id="friend-'+data.data[i].likes.data[a].id+'-comments" class="col-md-3"></section><section id="friend-'+data.data[i].likes.data[a].id+'-wall" class="col-md-3"></section></section>');
						$('#friend-'+data.data[i].likes.data[a].id+'-likes').append('<%= icon("thumbs-up-alt") %>');
					}
				}
			}
			if(typeof data.data[i].comments!='undefined') {
				for(var a in data.data[i].comments.data) {
					if($('#friend-'+data.data[i].comments.data[a].from.id).exists())
						$('#friend-'+data.data[i].comments.data[a].from.id+'-comments').append('<%= icon("comment") %>');
					else {
						$('#results').append('<section class="row" id="friend-'+data.data[i].comments.data[a].from.id+'"><section class="col-md-2 text-center"><img src="http://graph.facebook.com/'+data.data[i].comments.data[a].from.id+'/picture?type=square"><p><a href="http://www.facebook.com/profile.php?id='+data.data[i].comments.data[a].from.id+'">'+data.data[i].comments.data[a].from.name+'</a></p></section><section id="friend-'+data.data[i].comments.data[a].from.id+'-likes" class="col-md-3"></section><section id="friend-'+data.data[i].comments.data[a].from.id+'-comments" class="col-md-3"></section><section id="friend-'+data.data[i].comments.data[a].from.id+'-wall" class="col-md-3"></section></section>');
						$('#friend-'+data.data[i].comments.data[a].from.id+'-comments').append('<%= icon("comment") %>');
					}
				}
			}
			if($('#friend-'+data.data[i].from.id).exists())
				$('#friend-'+data.data[i].from.id+'-wall').append('<%= icon("edit") %>');
			else {
				$('#results').append('<section class="row" id="friend-'+data.data[i].from.id+'"><section class="col-md-2 text-center"><img src="http://graph.facebook.com/'+data.data[i].from.id+'/picture?type=square"><p><a href="http://www.facebook.com/profile.php?id='+data.data[i].from.id+'">'+data.data[i].from.name+'</a></p></section><section id="friend-'+data.data[i].from.id+'-likes" class="col-md-3"></section><section id="friend-'+data.data[i].from.id+'-comments" class="col-md-3"></section><section id="friend-'+data.data[i].from.id+'-wall" class="col-md-3"></section></section>');
				$('#friend-'+data.data[i].from.id+'-wall').append('<%= icon("edit") %>');
			}
		}
	}
	function getData(url) {
		$.ajax({
			type     : 'GET',
			dataType : 'jsonp',
			url      : url,
			data     : token,
			success  : 
				function(data) {
					process(data);
					if(typeof data.paging!='undefined')
						getData(data.paging.next);
					else
						$('#progress').hide();
				}
		});
	}
	if(window.location.hash.length==0) {
		$('#go').click(function(e) {
			e.preventDefault();
			window.location = 'https://www.facebook.com/dialog/oauth?client_id=117803191572717&redirect_uri='+window.location+'&response_type=token&scope=read_stream';
			return false;
		});
	}
	else {
		token = window.location.hash.substring(1);
		$('#go').remove();
		$('#progress').show();
		$('#welcome').after('<section id="results"></section>')
		getData('https://graph.facebook.com/me/feed');
	}
	});
</script>
