<blockquote class="facebook_post">
	<p>
		<%= linkify facebook_post.text %>
	</p>
	<small class="geo">
		<span class="latitude"><span class="value-title" title="<%= facebook_post.lat %>"></span></span>
		<span class="longitude"><span class="value-title" title="<%= facebook_post.lng %>"></span></span>
		<%= facebook_post.location %>
		<%= link_to timestamp(facebook_post.created_at), facebook_post %>
	</small>
</blockquote>