<% provide(:title, "IP Tools") %>
<% provide(:description, "IP Subnet calculator and useful IP convertors") %>

<h1>IP Tools</h1>

<div class="well">
	<form>
		<input class="form-control" name="q" placeholder="Enter an IP, subnet or integer" value="<%= params[:q] %>" autofocus>
	</form>
</div>

<p>Your IP is: <a href="?q=<%= request.remote_ip %>"><%= request.remote_ip %></a></p>

<% if @results.length > 1 %>
	<table class="table table-striped">
	<% @results.each do |result| %>
		<tr>
			<td><h3><%= result.first %></h3></td>
		<% result.drop(1).each do |row| %>
			<td><h3><code><%= row %></code></h3></td>
		<% end %>
		</tr>
	<% end %>
	</table>
<% end %>