<%= form_for(@vulnerability) do |f| %>

	<section class="row">
		<article class="col-md-4">
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :domain %>">
				<%= f.label :domain, class: "control-label" %>
				<%= f.text_field :domain, class: "form-control" %>
				<span class="help-block"><%= errors_for @vulnerability, :domain %></span>
			</div>
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :url %>">
				<%= f.label :url, class: "control-label" %>
				<%= f.text_field :url, class: "form-control" %>
				<span class="help-block"><%= errors_for @vulnerability, :url %></span>
			</div>
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :reported_at %>">
				<%= f.label :reported_at, class: "control-label" %>
				<%= f.text_field :reported_at, class: "form-control" %>
				<span class="help-block"><%= errors_for @vulnerability, :reported_at %></span>
			</div>
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :fixed %>">
				<%= f.label :fixed, class: "control-label" %>
				<%= f.check_box :fixed, class: "form-control" %>
				<span class="help-block"><%= errors_for @vulnerability, :fixed %></span>
			</div>
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :fixed_at %>">
				<%= f.label :fixed_at, class: "control-label" %>
				<%= f.text_field :fixed_at, class: "form-control" %>
				<span class="help-block"><%= errors_for @vulnerability, :fixed_at %></span>
			</div>
		</article>
		<article class="col-md-8">
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :summary %>">
				<%= f.label :summary, class: "control-label" %>
				<%= f.text_area :summary, class: "form-control" %>
				<span class="help-block"><%= errors_for @vulnerability, :summary %></span>
			</div>
			<div class="form-group<%= " has-error" if errors_for @vulnerability, :description %>">
				<%= f.label :description, class: "control-label" %>
				<%= f.text_area :description, class: "form-control", rows: 13 %>
				<span class="help-block"><%= errors_for @vulnerability, :description %></span>
			</div>
		</article>
	</section>
	<div class="actions"><%= f.submit "Submit", class: "btn btn-primary" %></div>
<% end %>
