<% provide(:title, "Security Vulnerabilities Reported") %>
<% provide(:description, "Security vulnerabilities I have reported and some metrics on when they are fixed") %>
<% provide(:image, root_path + "images/project58.png") %>
<% provide(:extrahead, "<style>.obfuscate {color: transparent;text-shadow:0 0 5px rgba(0,0,0,0.5)}</style>".html_safe) %>

<h1>Security Vulnerabilities Reported</h1>

<p>Working in cyber security, I have an interest in web security. Here is a list of security vulnerabilities I have reported.</p>

<section class="row">

	<article class="col-md-10 col-sm-9">
		<% @vulnerabilities.each do |vulnerability| %>
			<h3>
				<span class="label label-<%= vulnerability.fixed_label %>"><%= vulnerability.fixed_label_text %></span>
				<%= link_to vulnerability.to_s, vulnerability, class: vulnerability.link_class %>
			</h3>
			<%= vulnerability.summary.html_safe %>
		<% end %>
	</article>

	<article class="col-md-2 col-sm-3">
		<div class="well text-center">
			<p>Reported</p>
			<p style="font-size:300%"><%= solid_icon("bullhorn") %> <%= number_with_delimiter SecurityVulnerability.count %></p>
		</div>
		<div class="well text-center">
			<p>Fixed</p>
			<p style="font-size:300%"><%= icon("thumbs-up") %> <%= number_with_delimiter SecurityVulnerability.where(fixed: true).count %></p>
		</div>
	</article>
	<article>
		<h3>Profiles</h3>
		<ul>
			<li><a href="https://bughunters.google.com/profile/465828c4-176a-4083-bdaf-60cb162daccf">Google Bug Hunters</a></li>
			<li><a href="https://hackerone.com/dylan8902">Hacker One</a></li>
		</ul>
	</article>
</section>

<p><%= link_to 'New', new_security_vulnerability_path, class: "btn btn-primary" if current_user and current_user.admin %></p>
