<% provide(:title, "Tweet:: #{@tweet.text}") %>
<% provide(:description, "I tweeted: #{@tweet.text}") %>

<h1>Tweets</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Tweets', tweets_path %></li>
	<li class="active">Tweet</li>
	<li><%= link_to 'Statistics', tweets_stats_path, "data-no-turbolink" => true %></li>
	<li><%= link_to 'Map', tweets_map_path, "data-no-turbolink" => true %></li>
</ol>

<%= render 'tweet', tweet: @tweet %>

<%= link_to 'Back', tweets_path %>
