<% provide(:title, "On Radio: #{@radio_station.title}") %>
<% provide(:description, "Now playing on #{@radio_station.title} - track listing and artist information in real-time.") %>
<% provide(:image, "https://www.bbc.co.uk/iplayer/images/episode/#{@radio_station.show['programme']['pid']}_640_360.jpg") %>

<h1>On Radio: <%= @radio_station.title %></h1>

<nav>
	<a href="/onradio/1"><img src="/images/radio1.png" alt="BBC Radio 1"></a>
	<a href="/onradio/1xtra"><img src="/images/1xtra.png" alt="BBC Radio 1Xtra"></a>
	<a href="/onradio/2"><img src="/images/radio2.png" alt="BBC Radio 2"></a>
	<a href="/onradio/3"><img src="/images/radio3.png" alt="BBC Radio 3"></a>
	<a href="/onradio/6music"><img src="/images/6music.png" alt="BBC Radio 6Music"></a>
</nav>

<section class="row">
	<section class="col-md-6">
		
		<img id="show-image" class="listen thumbnail" src="http://ichef.bbci.co.uk/images/ic/480x270/<%= @radio_station.show['programme']['image']['pid'] %>.jpg" alt="Show Image" style="margin-top:15px">
		<h2><a id="show-title" href="http://www.bbc.co.uk/programmes/<%= @radio_station.show['pid'] %>"><%= @radio_station.show['programme']['display_titles']['title'] %></a></h2>
		<p id="show-info"><%= @radio_station.show['programme']['display_titles']['subtitle'] %>: <%= @radio_station.show['programme']['short_synopsis'] %></p>

		<div style="width:100%;height:5px;background:#DBDBDB;margin-bottom:10px;">
			<div id="done" style="height:100%;background:<%= @radio_station.colour %>;width:1%;"></div>
		</div>
		
		<button id="listen" class="btn btn-primary">Listen</button>
		<button id="scrobble" class="btn btn-danger">Scrobble</button>
		<button id="facebook" class="btn btn-secondary">Connect to Facebook</button>

		<h3>Recently Played</h3>
		<table id="tracks" class="table table-striped">
			<% @radio_station.recent_tracks.each_with_index do |track, i| %>
			<tr id="track-<%= @radio_station.recent_tracks.count - i %>">
				<td><%= track.image %></td>
				<td>
					<%= link_to track.artist, music_artist_path + "/" + track.artist_mbzid, class: "artist", id: track.artist_mbzid %> - <%= track.title %>
					<p><%= timestamp track.timestamp %></p>
				</td>
			</tr>
			<% end %>
		</table>
	
	</section>
	<section id="information" class="col-md-6">
		
	</section>
</section>

<footer>
	<p>Programme information here is provided by the BBC and supported by <a href="http://backstage.bbc.co.uk" title="BBC Backstage">backstage.bbc.co.uk</a>. Track information is provided by <a href="http://last.fm">LastFM</a>,
	event information is provided by <a href="http://songkick.com" title="Website">Songkick</a>, biographical information comes from <a href="http://wikipedia.org" title="Wikipedia">Wikipedia</a> and is licenced by
	<a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" title="Creative Commons Attribution-Sharealike 3.0 Unported License">CC-BY-SA</a>.</p>
	<p>The page should automatically load any new content. <a href="/stuff">More stuff like this by Dylan Jones</a>.</p>
</footer>

<script type="text/javascript">
	// <![CDATA[
	var id = 15;
	var last = "<%= @radio_station.recent_tracks.first.title if @radio_station.recent_tracks.count > 0 %>";
	var progress = 1;
	var session = {};
	var facebook = false;
	var lastfm = false;
	var b = <%= Time.parse(@radio_station.show['end']).to_i - Time.now.to_i %>;
	var a = <%= Time.parse(@radio_station.show['end']).to_i - Time.parse(@radio_station.show['start']).to_i %>;

	function addTrackToTable(title, artist, mbid, start, stop) {
		var str = '<tr id="track-'+id+'" style="display:none;">';
		if(mbid != '') {
			str = str+'<td><img src="https://www.bbc.co.uk/music/images/artists/112x63/'+mbid+'.jpg"></td>';
			str = str+'<td><a href="/music/artists/'+mbid+'" id="'+mbid+'" target="_blank" title="Artist Information" class="artist">'+artist+'</a> - '+title+'<p>'+timestamp(start)+'</p></td></tr>';
		}
		else {
			str = str+'<td><img src="/images/no_mbzid_112x63.png"></td>';
			str = str+'<td><a href="/music/artists/'+artist+'" target="_blank" title="Artist Information">'+artist+'</a> - '+title+'<p>'+timestamp(start)+'</p></td></tr>';
		}
		$('#tracks').prepend(str);
		$('#track-'+id).fadeIn(1000);
		if (mbid)
		 	$('#'+mbid).click();
	}

	function scrobble(title, artist, start, end) {
		var data = 'api_key=ea5099237517b2b08252aed02e06a3ea'
		+ '&artist='+encodeURIComponent(artist)
		+ '&chosenByUser=0' + '&format=json' + '&method=track.scrobble'
		+ '&sk='+session.key + '&timestamp='+start
		+ '&track='+encodeURIComponent(title);
		var md5 = 'api_keyea5099237517b2b08252aed02e06a3ea'
		+ 'artist'+encodeURIComponent(artist)
		+ 'chosenByUser0' + 'methodtrack.scrobble'
		+ 'sk'+session.key + 'timestamp'+start
		+ 'track'+encodeURIComponent(title)
		+ '6d597d4c6c0b1b1a8a4579964abb6758';
		$.ajax({
			type     : 'GET',
			dataType : 'json',
			url      : '/md5.json',
			data     : 'q='+md5,
			success  : 
				function(reply) {
					$.ajax({
						type     : 'POST',
						dataType : 'json',
						url      : 'https://ws.audioscrobbler.com/2.0/',
						data     : data+'&api_sig='+reply,
						success  : 
							function(reply) {
								console.log(reply);
							}
					});
				}
		});
	}

	function postToFacebook(title, artist, mbid, start, end) {
		$.ajax({
			type     : 'POST',
			dataType : 'json',
			url      : 'https://graph.facebook.com/me/bbc_radio:listen_to',
			data     : 'radio_station='+encodeURIComponent('http://www.bbc.co.uk/<%= @radio_station.id %>')+'&song='+encodeURIComponent('http://dyl.anjon.es/music/artists/'+mbid+'/'+title.replace('.',''))+'&start_time='+start+'&end_time='+end+'&'+session,
			success  : 
				function(reply) {
					console.log(reply);
				}
		});
	}

	function realtimeCallback(reply) {
		if(reply.realtime) {
			var track = reply.realtime;
			last = last.toString();
			var test = track.title.toString();
			if (test == last) {
				return;
			}
			var mbid = '';
			if(track.musicbrainz_artist) {
				mbid = track.musicbrainz_artist.id;
			}
			addTrackToTable(track.title, track.artist, mbid, track.start, track.end);
			last = test;
			id++;

		}
	}

	function updateTracks() {
		$.ajax({
			type     : 'GET',
			dataType : 'jsonp',
			url      : 'https://ws.audioscrobbler.com/2.0/',
			data     : 'method=user.getrecenttracks&user=bbc<%= @radio_station.id %>&api_key=ea5099237517b2b08252aed02e06a3ea&format=json&limit=5',
			success  : 
				function(reply) {
					if (typeof(reply.recenttracks) != 'undefined') {
						var track = reply.recenttracks.track[0];
						if(typeof(track['@attr']) != 'undefined') {
							track = reply.recenttracks.track[1];
						}
						last = last.toString();
						var test = track.name.toString();
						if(test!=last) {
							if(lastfm) {
								scrobble(track.name, track.artist['#text'], track.date['uts'], 0);
							}
							else if(facebook) {
								postToFacebook(track.name, track.artist['#text'], track.artist.mbid, track.date['uts'], parseInt(track.date['uts'])+180);
							}
							addTrackToTable(track.name, track.artist['#text'], track.artist.mbid, track.date['uts'], 0)
							last = test;
							id++;
						}
					}
				}
		});
	}

	function updateShow() {
		$.ajax({
			type     : 'GET',
			dataType : 'jsonp',
			url      : '<%= request.original_fullpath %>.json',
			success  : 
				function(reply) {
					$('#show-info').html(''+reply.show.programme.title+': '+reply.show.programme.short_synopsis);
					$('#show-image').attr('src','http://ichef.bbci.co.uk/images/ic/480x270/'+reply.show.programme.image.pid+'.jpg');
					$('#show-title').html(reply.show.programme.display_titles.title);
					$('#show-title').attr('href','http://www.bbc.co.uk/programmes/'+reply.show.programme.pid);
					a = reply.show.programme.duration;
					b = reply.show.programme.duration;
					progress = 1;
					var refreshShow = setTimeout(function() {
						updateShow();
					}, reply.show.programme.duration*1000);
				}
		});
	}

	$(document).ready(function() {
		var textlastid = 0;
		var refreshTracks = setInterval(function() {
			updateTracks();
		}, 20000);
		
		var refreshShow = setTimeout(function() {
			updateShow();
		}, <%= Time.parse(@radio_station.show['end']).to_i - Time.now.to_i + 5 %>000);
		function updateProgress() {
			progress++;
			var width = ((a-b+progress)/a)*100;
			$('#done').css('width',width+'%');
			$('#done').attr('title',width+'%');
		}
		var refreshProgress = setInterval(function() {
			updateProgress();
		}, 1000);

		$(document).on('click', '.artist', function(e) {
			e.preventDefault();
			var target_offset = $('#information').offset();
        	var target_top = target_offset.top;
        	$('html, body').animate({scrollTop:target_top}, 500);
			var name = $(this).html();
			var mbzid = $(this).attr('id');
			$('#information').html('');
			$('#information').append('<img src="https://www.bbc.co.uk/music/images/artists/542x305/'+mbzid+'.jpg" title="'+name+'" style="margin-top:15px" alt="Artist Image" class="thumbnail"></article><section><h3>'+name+'</h3></section>');
			$('#information').append('<section id="loading">Loading Artist Data...</section>');
			$.ajax({
				type     : 'GET',
				dataType : 'json',
				url      : '/music/artists/'+mbzid+'.json',
				success  : 
					function(reply) { 
						$('#loading').fadeOut(200);
						if(typeof(reply.type) != 'undefined')
							$('#information').append('<section><p><i class="icon-group"></i> '+reply.type+'</p></section>');
						if(typeof(reply['7digital']) != 'undefined') {
							if(typeof(reply['7digital'].releases.releases) != 'undefined') {
								$('#information').append('<section><h3>Releases</h3><table id="releases"></table><img src="/images/7digital.png" alt="7 Digital" style="height:14px;"></section>');
								for(var a in reply['7digital'].releases.releases) {
									var release = reply['7digital'].releases.releases[a];
									$('#releases').append('<tr><td><img src="'+release.image+'" alt="Artwork"></td><td><a href="'+release.url+'" target="_blank">'+release.title+'</a></td><td width="60"><iframe frameborder="0" height="40" scrolling="no" src="https://instant.7digital.com/iframe.htm?releaseid='+release.id+'&amp;partnerid=3143&amp;buttontext=BUY" width="60"></iframe></td></tr>');
								}
							}
						}
						if(typeof(reply.reviews) != 'undefined') {
							$('#information').append('<section><h3>Reviews</h3><table id="reviews"></table></section>');
							for(var a in reply.reviews) {
								var review = reply.reviews[a];
								$('#reviews').append('<tr><td><img src="'+review.release.artwork.small+'" alt="Artwork"></td><td><a href="http://www.bbc.co.uk/music/reviews/'+review.url_key+'" target="_blank">'+review.release.title+'</a></td><td>'+review.short_synopsis+'<br>By '+review.reviewer+'</td></tr>');
							}
						}
						if(typeof(reply.news) != 'undefined') {
							$('#information').append('<section><h3>News</h3><table id="news"></table></section>');
							for(var a in reply.news) {
								var news = reply.news[a];
								$('#news').append('<tr><td><a href="'+news.url+'" target="_blank">'+news.title+'</a></td><td>'+news.description+'</td></tr>');
							}
						}
						if(typeof(reply.songkick.resultsPage.results.event) != 'undefined') {
							$('#information').append('<section><h3>Events</h3><ul id="events"></ul></section>');
							for(var a in reply.songkick.resultsPage.results.event) {
								var event = reply.songkick.resultsPage.results.event[a];
								$('#events').append('<li><a href="'+event.uri+'" target="_blank">'+event.displayName+'</a></li>');
							}
						}
						if(typeof(reply.links) != 'undefined') {
							$('#information').append('<section><h3>Links</h3><ul id="links"></ul></section>');
							for(var a in reply.links) {
								var link = reply.links[a];
								$('#links').append('<li><a href="'+link.url+'" target="_blank">'+link.name+'</a></li>');
							}
						}
					},
				error   :
					function() {
						$.ajax({
							type     : 'GET',
							dataType : 'json',
							url      : 'https://ws.audioscrobbler.com/2.0/',
							data     : 'method=artist.getinfo&mbid='+mbzid+'&api_key=ea5099237517b2b08252aed02e06a3ea&format=json',
							success  : 
								function(reply) { 
									$('#loading').fadeOut(200);
									if(typeof(reply.artist.bio)!='undefined')
										$('#information').append('<section><h5>Biography</h5><p id="biography">'+reply.artist.bio.content+'</p></section>');
								}
						});
					}
			});
			return false;
		});

		$('#scrobble').click(function() {
			window.location = 'http://www.last.fm/api/auth/?api_key=ea5099237517b2b08252aed02e06a3ea&cb=<%= request.original_url %>';
		});

		$('#listen').click(function() {
			window.open('http://www.bbc.co.uk/radio/player/<%= @radio_station.key %>');
		});

		$('#facebook').click(function() {
			var appID = '149865365127990';
			var path = 'https://www.facebook.com/dialog/oauth?';
			var queryParams = ['client_id=' + appID,'redirect_uri=' + window.location,'response_type=token','scope=publish_actions'];
			var query = queryParams.join('&');
			window.location = path + query;
		});

		if ("<%= params[:token] %>" != "") {
			$.ajax({
				type     : 'GET',
				dataType : 'json',
				url      : 'https://ws.audioscrobbler.com/2.0/',
				data     : 'method=auth.getSession&api_key=ea5099237517b2b08252aed02e06a3ea&format=json&token=<%= params[:token] %>&api_sig=<%= md5 "api_keyea5099237517b2b08252aed02e06a3eamethodauth.getSessiontoken#{params[:token]}6d597d4c6c0b1b1a8a4579964abb6758" %>',
				success  :
					function(reply) {
						session = reply.session;
						if(typeof session.key != 'undefined') {
							$('#scrobble').html('Scrobbling for '+session.name);
							$('#scrobble').attr('disabled','disabled');
							$('#facebook').remove();
							lastfm = true;
						}
						else
							$('#scrobble').html('No Scrobbling at the moment, sorry');
					},
				error   :
					function(reply) {
						$('#scrobble').html('No Scrobbling at the moment, sorry');
					}
			});
		}
		else if (window.location.hash) {
			var hash = window.location.hash.substring(1).split('&');
			session = hash[0];
			var refreshFacebookToken = setTimeout(function() {
				var path = 'https://www.facebook.com/dialog/oauth?';
				var queryParams = ['client_id=' + appID,'redirect_uri=' + window.location,'response_type=token','scope=publish_actions'];
				var query = queryParams.join('&');
				window.location = path + query;
			}, parseInt(hash[1].substring(11))*1000);
			$('#facebook').html('Connected to Facebook');
			$('#facebook').attr('disabled','disabled');
			$('#scrobble').remove();
			facebook = true;
		}
	});
	//]]!>
</script>