<% provide(:title, "Users") %>
<% provide(:description, "All the users.") %>
<% provide(:extrahead, rss_link(users_path)) %>

<h1>Users</h1>
<ol class="breadcrumb">
	<li class="active">Users</li>
</ol>

<table class="table table-striped">
	<thead>
	<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Created at</th>
			<th>Updated at</th>
			<th>Login count</th>
			<th>Last login</th>
			<th>Admin</th>
		</tr>
	</thead>
<% @users.each do |user| %>
  <tr>
		<td><%= user.id %></td>
  	<td><%= user.name %></td>
  	<td><%= user.email %></td>
  	<td><%= user.created_at %></td>
  	<td><%= user.updated_at %></td>
  	<td><%= user.sign_in_count %></td>
  	<td><%= user.last_sign_in_at %></td>
  	<td><%= user.admin %></td>
	</tr>
<% end %>
</table>

<%= paginate @users %>
