<% provide(:title, "Train Journeys") %>
<% provide(:description, "A record of your train journeys.") %>

<h1>Your Train Journeys</h1>

<ol class="breadcrumb">
	<li><%= link_to 'Trains', trains_root_path, title: "Trains Home" %></li>
	<li class="active">Journeys</li>
	<li><%= link_to "Schedules", trains_schedules_path %></li>
	<li><%= link_to "Locations", trains_locations_path %></li>
	<li><%= link_to "Companies", trains_operating_companies_path %></li>
</ol>

<section class="row">
	<article class="col-md-5">
		<table class="table table-striped">
			<% @journeys.each do |journey| %>
			<tr>
				<td><%= journey.departure_time %></td><td><%= link_to journey, journey %></td>
			</tr>
			<% end %>
		</table>
		<%= paginate @journeys %>
	</article>
</section>

<%= form_for(@journey) do |f| %>
	<%= f.submit "New Journey", class: "btn btn-primary" %>
<% end %>