<% provide(:title, 'Trains:: Power Types') %>
<% provide(:description, 'All the different types of powered trains you get in the UK.') %>

<h1>Train Power Types</h1>

<ol class="breadcrumb">
	<li><%= link_to "Trains", trains_root_path %></li>
	<li><%= link_to 'Journeys', trains_journeys_path, title: "Your Train Journeys" %></li>
	<li><%= link_to "Schedules", trains_schedules_path %></li>
	<li><%= link_to "Locations", trains_locations_path %></li>
	<li class="active">Power Types</li>
</ol>


<%= form_tag(trains_power_types_path, :method => "get", :class => "text-center") do %>
	<div class="input-append well">
		<%= text_field_tag(:q, @from, class: "form-control", placeholder: "Search for a type", autofocus: true, value: @q) %>
	</div>
<% end %>

<% unless @power_types.nil? %>

	<p>
		<%= pluralize @power_types.total_entries, 'power type' %> found
	</p>

	<% if @power_types.size > 0 %>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Code</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<% @power_types.each do |power_type| %>
			<tr>
				<td><%= power_type.id %></td>
				<td><%= power_type.code %></td>
				<td><%= link_to power_type.name, power_type %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= paginate @power_types %>

	<% end %>

<% end %>
