<% provide(:title, "Episodes") %>
<% provide(:description, "A record of the programmes I watch on the BBC iPlayer. Keeping track to plot statistics and create trends.") %>
<% provide(:image, root_path + "images/project13.png")%>

<h1>Episodes</h1>
<ol class="breadcrumb">
  <li class="active">Episodes</li>
  <li><%= link_to 'Statistics', episodes_stats_path %></li>
</ol>

<% @episodes.each_with_index do |episode, i| %>
	<%= "<section class=\"row\">".html_safe if i == 0 or i % 3 == 0 %>
	<article class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= link_to episode.title, episode %></h3>
			</div>
			<div class="panel-body">
				<a class="thumbnail" href="<%= episode_path(episode) %>"><img src="<%= episode.image %>" alt="<%= episode.title %>"></a>
				<p><%= episode.description %></p>
			</div>
			<div class="panel-footer">
				<%= timestamp episode.created_at %>
			</div>
		</div>
	</article>
	<%= "</section>".html_safe if i == 2 or (i-2) % 3 == 0 or episode == @episodes.last %>
<% end %>

<%= paginate @episodes %>
