<% provide(:title, "Episodes") %>
<% provide(:description, "A record of the programmes I watch on the BBC iPlayer. Keeping track to plot statistics and create trends.") %>
<% provide(:image, root_path + "images/project13.png")%>
<% provide(:extrahead, rss_link(episodes_path)) %>

<h1>Episodes</h1>
<ol class="breadcrumb">
	<li class="active">Episodes</li>
<% if current_user %>
	<li><%= link_to 'Your Statistics', user_episodes_stats_path(current_user) %></li>
	<li><%= link_to 'My Statistics', episodes_stats_path %></li>
<% else %>
	<li><%= link_to 'My Statistics', episodes_stats_path %></li>
<% end %>
</ol>

<article class="well">
	<h2>Keep a record of TV you watch</h2>
	<p>Use the bookmarklet to record when you watch an episode on BBC iPlayer. Track you watching habbits and share your favourites.</p>
	<%= link_to "Login or Register", new_session_path, class: "btn btn-default" if current_user.nil? %>
	<%= ("Drag me to your favourites: " + link_to("Save iPlayer Episode", "javascript:window.open('https://dyl.anjon.es/episodes/add?url='+window.location,'iPlayer')", class: "btn btn-default") + " and click on me when watching an iPlayer programme").html_safe if current_user %>
</article>

<% if current_user %>
<h3>Your Recently Watched</h3>
<% else %>
<h3>My Recently Watched</h3>
<% end %>

<%= render 'grid' %>

<%= paginate @episodes %>
