<% provide(:title, "Train Journey:: Add Leg") %>
<% provide(:description, "Add a leg to a journey.") %>

<h1>Add Journey Leg <small><%= @journey.to_s %></small></h1>
<ol class="breadcrumb">
	<li><%= link_to 'Trains', trains_root_path, title: "Trains Home" %></li>
	<li><%= link_to 'Journeys', trains_journeys_path, title: "Your Train Journeys" %></li>
	<li><%= link_to @journey, @journey, title: "Journey" %></li>
	<li class="active">New Journey Leg</li>
</ol>

<%= render 'form'%>