<%= form_for(@local_tag) do |f| %>

<% if @local_tag.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@local_tag.errors.count, "error") %> prohibited this local_tag from being saved:</h2>
	<ul>
		<% @local_tag.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title, class: "form-control", autofocus: true %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description, class: "form-control", rows: 10 %>
</div>
<div style="display:none">
	<%= f.text_field :lat %>
	<%= f.text_field :lng %>
</div>
<div class="form-actions">
	<%= f.submit "Save", class: "btn btn-primary" %>
	<%= link_to "Back", local_tags_path, class: "btn btn-danger" %>
</div>
<% end %>
