<% provide(:title, 'Trains:: Operating Comapny:: #{@operating_company.name}') %>
<% provide(:description, 'Train routes and statistics on performance measures for #{@operating_company.name}.') %>

<h1><%= @operating_company.name %></h1>

<ol class="breadcrumb">
  <li><%= link_to "Trains", trains_root_path %></li>
  <li><%= link_to "Operating Companies", trains_operating_companies_path %></li>
  <li class="active"><%= @operating_company.name %></li>
</ol>

<section class="panel panel-default">
	<header class="panel-heading">
		<h3 class="panel-title">Operating Routes</h3>
	</header>
	<article class="panel-body">
		<div class="list-group">
		<% @operating_company.routes.each do |route| %>
			<%= link_to "#{route[:origin].location.name} - #{route[:destination].location.name}", trains_schedule_uid_path(route[:schedule]), class: "list-group-item" %>
		<% end %>
		</div>
	</article>
</section>
