<%= form_for(@question) do |f| %>

	<div class="form-group<%= " has-error" if errors_for @question, :title %>">
		<%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
    <span class="help-block"><%= errors_for @question, :title %></span>
	</div>

	<div class="form-group<%= " has-error" if errors_for @question, :correct_answer %>  has-success">
		<%= f.label :correct_answer, class: "control-label" %>
		<%= f.text_field :correct_answer, class: "form-control" %>
		<span class="help-block"><%= errors_for @question, :correct_answer %></span>
	</div>

	<div class="form-group<%= " has-error" if errors_for @question, :answer_2 %>">
		<%= f.label :answer_2, class: "control-label" %>
		<%= f.text_field :answer_2, class: "form-control" %>
		<span class="help-block"><%= errors_for @question, :answer_2 %></span>
	</div>

	<div class="form-group<%= " has-error" if errors_for @question, :answer_3 %>">
		<%= f.label :answer_3, class: "control-label" %>
		<%= f.text_field :answer_3, class: "form-control" %>
		<span class="help-block"><%= errors_for @question, :answer_3 %></span>
	</div>

	<div class="form-group<%= " has-error" if errors_for @question, :answer_4 %>">
		<%= f.label :answer_4, class: "control-label" %>
		<%= f.text_field :answer_4, class: "form-control" %>
		<span class="help-block"><%= errors_for @question, :answer_4 %></span>
	</div>

	<div class="form-group<%= " has-error" if errors_for @question, :visible %>">
		<%= f.label :visible, class: "control-label" %>
		<%= f.check_box :visible, class: "form-control" %>
		<span class="help-block"><%= errors_for @question, :visible %></span>
	</div>

	<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
