<% provide(:title, "Music:: Listens") %>
<% provide(:description, "Music I have been listening to recently.") %>

<h1>Recently Listened</h1>

<ol class="breadcrumb">
  <li><%= link_to "Music", music_root_path %></li>
  <li class="active">Listens</li>
  <li><%= link_to "Statistics", music_listen_stats_path %></li>
</ol>

<% @listens.each_with_index do |listen, i| %>
	<%= "<section class=\"row\">".html_safe if i == 0 or i % 3 == 0 %>
	<article class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title"><%= link_to listen.artist, listen.artist_url %> - <%= listen.track %></h5>
			</div>
			<div class="panel-body">
				<%= link_to image_tag(listen.image_url, alt: listen.artist, class: "img-thumbnail"), music_listen_path(listen) %>
			</div>
			<div class="panel-footer">
				<small><%= timestamp listen.created_at %></small>
			</div>
		</div>
	</article>
	<%= "</section>".html_safe if i == 2 or (i-2) % 3 == 0 or listen == @listens.last %>
<% end %>

<%= paginate @listens %>