<% provide(:title, "Stuff") %>
<% provide(:description, "Things that I have created.") %>
<% provide(:extrahead, rss_link("/stuff")) %>

<h1>Stuff</h1>

<nav class="btn-group">
	<% css = "btn" %>
	<% css += " btn-primary" if params[:order].nil? %>
	<%= link_to "Most Recent", request.path, class: css %>
	<% css = "btn" %>
	<% css += " btn-primary" if params[:order] == "hits DESC" %>
	<%= link_to "Most Popular", request.path + "?order=hits%20DESC", class: css %>
	<% css = "btn" %>
	<% css += " btn-primary" if params[:order] == "title" %>
	<%= link_to "A-Z", request.path + "?order=title", class: css %>
	<%= link_to "New", '/stuff/new', class: 'btn' if current_user and current_user.admin? %>
</nav>

<% @projects.each_with_index do |project, i| %>
	<%= "<section class=\"row\">".html_safe if i == 0 or i % 3 == 0 %>
	<article class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= link_to raw(project.title), project.url %></h3>
			</div>
			<div class="panel-body">
				<a class="thumbnail" href="<%= project.url %>"><img src="/images/project<%= project.id %>.png" alt="<%= project.title %>"></a>
				<p>
					<%= raw project.description %>
				</p>
			</div>
		</div>
	</article>
	<%= "</section>".html_safe if i == 2 or (i-2) % 3 == 0 or project == @projects.last  %>
<% end %>

<%= paginate @projects %>
