<% provide(:title, "Music:: Artist:: #{@artist['name']}") %>
<% provide(:description, "A page about the music artist #{@artist['name']}") %>
<% provide(:image, "https://www.bbc.co.uk/music/images/artists/542x305/#{@artist['gid']}.jpg") %>
<% provide(:og, @og) %>

<h1><%= @artist['name'] %></h1>

<ol class="breadcrumb">
  <li><%= link_to "Music", music_root_path %></li>
  <li><%= link_to "Artists", music_artists_path %></li>
  <li class="active"><%= @artist['name'] %></li>
</ol>

<p><%= icon "group" %> <%= @artist['type'] %></p>
<p><%= @artist['disambiguation'] %></p>
<% if @artist['life-span']['ended'] and @artist['life-span']['begin'] and @artist['life-span']['end'] %>
<p><%= icon "time" %> <%= @artist['life-span']['begin'] %> <%= " - " + @artist['life-span']['end'] %></p>
<% elsif @artist['life-span']['begin'] %>
<p><%= icon "time" %> Since <%= @artist['life-span']['begin'] %></p>
<% end %>
<img src="https://www.bbc.co.uk/music/images/artists/542x305/<%= @artist['id'] %>.jpg" title="<%= @artist['name'] %>" alt="<%= @artist['name'] %>" class="thumbnail">

<% if @artist['wikipedia_article'] %>
<h2>Biography</h2>
<blockquote>
  <p><%= @artist['wikipedia_article']['content'] %></p>
  <small><cite>
  	<a title="<%= @artist['wikipedia_article']['title'] %>" href="<%= @artist['wikipedia_article']['url'] %>">
  	  <%= @artist['wikipedia_article']['url'] %>
  	</a>
 </cite></small>
</blockquote>
<% end %>

<section class="row">

<% if @artist['reviews'] and @artist['reviews'].count > 0 %>
	<article class="col-md-4">
		<h2><%= icon "pencil" %> Reviews</h2>
		<table>
		<% @artist['reviews'].each do |review| %>
			<tr>
				<td><%= image_tag review['release']['artwork']['small'] %></td>
				<td><%= link_to review['release']['title'], "http://www.bbc.co.uk/music/reviews/#{review['url_key']}" %></td>
			</tr>
		<% end %>
		</table>
	</article>
<% end %>

<% if @artist['links'] and @artist['links'].count > 0 %>
	<article class="col-md-4">
		<h2><%= icon "external-link" %> Links</h2>
		<ul>
		<% @artist['links'].each do |link| %>
			<li><%= link_to link['name'], link['url' ] %></li>
		<% end %>
		</ul>
	</article>
<% end %>

<% if @artist['listens'] and @artist['listens'].count > 0 %>
	<article class="col-md-4">
		<h2><%= icon "music" %> My Plays</h2>
		<ul>
		<% @artist['listens'].each do |listen| %>
			<li><%= link_to listen.track, music_listen_path(listen) %> <%= timestamp listen.created_at %></li>
		<% end %>
		</ul>
	</article>
<% end %>


<% if @artist['7digital'] and @artist['7digital']['releases']['releases'].count > 0 %>
	<article class="col-md-4">
		<h2><%= icon "bullhorn" %> Releases</h2>
		<table>
		<% @artist['7digital']['releases']['releases'].each do |release| %>
			<tr>
				<td><%= image_tag(release['image']) %></td>
				<td><%= link_to release['title'], release['url'] %></td>
			</tr>
		<% end %>
		</table>
	</article>
<% end %>

<% if @artist['gig_performances'] and @artist['gig_performances'].count > 0 %>
	<article class="col-md-4">
		<h2><%= icon "calendar" %> Gigs Seen At</h2>
		<ul>
		<% @artist['gig_performances'].each do |gig_performance| %>
			<li><%= link_to gig_performance.gig.name, music_gig_path(gig_performance.gig) %></li>
		<% end %>
		</ul>
	</article>
<% end %>


</section>