<% provide(:title, "Music:: Artist:: #{@artist['name']}") %>
<% provide(:description, "A page about the music artist #{@artist['name']}") %>
<% provide(:image, "https://www.bbc.co.uk/music/images/artists/542x305/#{@artist['gid']}.jpg") %>
<% provide(:og, @og) %>

<h1><%= @artist['name'] %></h1>

<p><%= @artist['artist_type'] %></p>
<p><%= @artist['disambiguation'] %></p>
<p><%= @artist['begin_date'] %> <%= " - " + @artist['end_date'] if @artist['end_date'] %></p>

<img src="https://www.bbc.co.uk/music/images/artists/542x305/<%= @artist['gid'] %>.jpg" title="<%= @artist['name'] %>" alt="<%= @artist['name'] %>" class="thumbnail">

<% if @artist['wikipedia_article'] %>
<h2>Biography</h2>
<blockquote>
  <p><%= @artist['wikipedia_article']['content'] %></p>
  <small><cite>
  	<a title="<%= @artist['wikipedia_article']['title'] %>" href="<%= @artist['wikipedia_article']['url'] %>">
  	  <%= @artist['wikipedia_article']['url'] %>
  	</a>
 </cite></small>
</blockquote>
<% end %>

<section class="row">

<% if @artist['reviews'] %>
	<article class="col-md-4">
		<h2>Reviews</h2>
		<table>
		<% @artist['reviews'].each do |review| %>
			<tr>
				<td><%= image_tag review['release']['artwork']['small'] %></td>
				<td><%= link_to review['release']['title'], "http://www.bbc.co.uk/music/reviews/#{review['url_key']}" %></td>
			</tr>
		<% end %>
		</table>
	</article>
<% end %>

<% if @artist['links'] %>
	<article class="col-md-4">
		<h2>Links</h2>
		<ul>
		<% @artist['links'].each do |link| %>
			<li><%= link_to link['name'], link['url' ]%></li>
		<% end %>
		</ul>
	</article>
<% end %>

</section>