<%= form_for([:music, @dj_event]) do |f| %>

  <% if @dj_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dj_event.errors.count, "error") %> prohibited this DJ event from being saved:</h2>
      <ul>
      <% @dj_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
