<% provide(:title, 'Trains:: Category:: #{@category.name}') %>
<% provide(:description, 'Train schedules fortrains that are #{@category.name}.') %>

<h1><%= @category.name %></h1>

<ol class="breadcrumb">
  <li><%= link_to "Trains", trains_root_path %></li>
  <li><%= link_to "Categories", trains_categories_path %></li>
  <li class="active"><%= @category.name %></li>
</ol>

<section class="row">
	<article class="col-md-5">
		<section class="panel panel-default">
			<header class="panel-heading">
				<h3 class="panel-title">Operating Routes</h3>
			</header>
			<article class="panel-body">
				<div class="list-group">
				<% @routes.each do |route| %>
					<%= link_to "#{route[:origin].location.name} - #{route[:destination].location.name}", trains_schedule_uid_path(route[:schedule]), class: "list-group-item" %>
				<% end %>
				</div>
				<%= paginate @routes %>
			</article>
		</section>
	</article>
</section>