<% provide(:title, "Running:: #{@running_event.name}") %>
<% provide(:description, "I took part in #{@running_event.name}") %>

<h1>Running</h1>
<ol class="breadcrumb">
	<li><%= link_to 'Running', running_events_path %></li>
	<li class="active"><%= @running_event.name %></li>
	<li><%= link_to 'Statistics', running_events_stats_path %></li>
	<li><%= link_to 'Map', running_events_map_path %></li>
</ol>

<section class="row">
	<article class="col-md-2 col-sm-2 col-xs-4">
		<%= @running_event.map_image %>
	</article>
	<article class="col-md-10 col-sm-10 col-xs-8">
		<h2><%= @running_event.name %></h2>
		<p><%= timestamp @running_event.created_at %></p>
	</article>
</section>

<section class="row">

<% if @running_event.distance %>
	<article class="col-md-4 col-sm-6">
		<p class="well" style="font-size:300%"><%= icon("road") %> <%= number_with_delimiter @running_event.distance %>m</p>
	</article>
<% end %>

<% if @running_event.timing %>
	<article class="col-md-4 col-sm-6">
		<p class="well" style="font-size:300%"><%= icon("time") %> <%= @running_event.timing %></p>
	</article>
<% end %>

<% if @running_event.position %>
	<article class="col-md-4 col-sm-6">
		<p class="well" style="font-size:300%"><%= icon("trophy") %> <%= @running_event.position.ordinalize %></p>
	</article>
<% end %>

</section>

<%= link_to "Edit", edit_running_event_path(@running_event), class: "btn btn-primary" if current_user and current_user.admin %>	
<%= link_to 'Back', running_events_path %>