<% provide(:title, 'Trains:: Schedules') %>
<% provide(:description, 'Browse UK train schedules, plan your train journey and see the public and working time tables (WTT).') %>

<h1>Train Schedules</h1>

<ol class="breadcrumb">
  <li><%= link_to "Trains", trains_root_path %></li>
  <li class="active">Schedules</li>
  <li><%= link_to "Locations", trains_locations_path %></li>
  <li><%= link_to "Companies", trains_operating_companies_path %></li>
</ol>



<%= form_tag(trains_schedules_path, :method => "get", :class => "well text-center") do %>
	<div class="input-group">
		<%= text_field_tag(:origin, @from, class: "typeahead form-control input-large", placeholder: "Origin", autocomplete: "off", "data-type" => "locations") %>
		<a class="btn btn-success geo input-group-btn" data-field="origin" data-url="/trains/locations" title="Locate Me"><%= icon("location-arrow") %></a>
	</div>
	<br>
	<div class="input-group">
		<%= text_field_tag(:destination, @to, class: "typeahead form-control", placeholder: "Destination", autocomplete: "off", "data-type" => "locations") %>
		<a class="btn btn-success geo input-group-btn" data-field="destination" data-url="/trains/locations" title="Locate Me"><%= icon("location-arrow") %></a>
	</div>
	<h4>
		<a class="accordion-toggle label" data-toggle="collapse" data-parent="#advanced" href="#advanced-options">Advanced Options</a>				
	</h4>
	<div class="accordion" id="advanced">
		<div id="advanced-options" class="accordion-body collapse out">
			<label><%= check_box_tag(:non_public, true, @non_public) %> Include non-public schedules</label>
			<br>
			<label><%= check_box_tag(:buses, true, @buses) %> Include bus schedules</label>
			<br>
		</div>
	</div>
	<div>
		<%= submit_tag("Search", :class => "btn btn-warning") %>
	</div>
<% end %>

<% unless @schedules.nil? %>

	<p>
		<%= pluralize @schedules.total_entries, 'schedule' %> found
		<%= "from #{@origin.name}" unless @origin.nil? %>
		<%= "to #{@destination.name}" unless @destination.nil? %>
		on <%= @date.strftime "%A, %-d %B %Y" %>
	</p>

	<% if @schedules.size > 0 %>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>UID</th>
				<%= "<th>Departure</th>".html_safe unless @origin.nil? %>
				<th>Destination</th>
				<th>Origin</th>
				<%= "<th>Arrival</th>".html_safe unless @destination.nil? %>
				<th>Operator</th>
			</tr>
		</thead>
		<tbody>
			<% @schedules.each do |schedule| %>
			<tr>
				<td><%= link_to schedule.train_uid, trains_schedule_uid_and_date_path(schedule, @date.year, @date.month, @date.day) %></td>
				<%= "<td>#{schedule.time_at @origin}</td>".html_safe unless @origin.nil? %>
				<td><%= link_to schedule.destination.location.name, schedule.destination.location unless schedule.destination.location.nil? %></td>
				<%= "<td>#{schedule.origin.public_departure} from #{link_to(schedule.origin.location.name, schedule.origin.location)}</td>".html_safe unless schedule.origin.location == @origin %>
				<%= "<td>Starts here</td>".html_safe if schedule.origin.location == @origin %>
				<%= "<td>#{schedule.time_at @destination}</td>".html_safe unless @destination.nil? %>
				<td><%= link_to schedule.toc.name,schedule.toc unless schedule.toc.nil? %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<%= paginate @schedules %>

	<% end %>

<% end %>

