<li class="media comment">
	<%= link_to gravatar(blog_comment.email, 40), blog_comment.user, class: "pull-left" %>
	<div class="media-body">
		<h4 class="media-heading">
			<%= link_to blog_comment.name, blog_comment.user %>
			<small>
				<%= timestamp(blog_comment.created_at) %>
			<% if blog_comment.updated? %>
				<%= " - edited "%>
				<%= timestamp(blog_comment.updated_at) %>
			<% end %>
			</small>
			<%= link_to "Edit", edit_blog_post_blog_comment_path(blog_comment.blog_post, blog_comment), class: "btn btn-primary btn-xs" if current_user and current_user.id == blog_comment.user_id %>
		</h4>
		<%= blog_comment.comment %>
	</div>
</li>