<title><%= full_title(yield(:title)) %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Dylan Jones">
<meta name="description" content="<%= yield(:description) %>">
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_include_tag "application" %>
<%= javascript_pack_tag 'application' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@dylan8902">
<meta name="twitter:title" content="<%= full_title(yield(:title)) %>">
<meta name="twitter:description" content="<%= yield(:description) %>">
<% if yield(:image) != "" %>
<meta name="twitter:image" content="<%= yield(:image) %>">
<% end %>

<% if @og then %>
	<% @og.each do |k, v| %>
<meta property="<%= k %>" content="<%= v %>">
	<% end %>
<% else %>
<meta property="og:title" content="<%= full_title(yield(:title)) %>">
<meta property="og:description" content="<%= yield(:description) %>">
	<% if yield(:image) != "" %>
<meta property="og:image" content="<%= yield(:image) %>">
	<% end %>
<% end %>

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

<!--[if lt IE 9]>
	<script src="/scripts/html5shiv.js"></script>
	<script src="/scripts/respond.js"></script>
<![endif]-->

<% if yield(:map) == "map" then %>
<link rel="stylesheet" href="/scripts/leaflet.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/scripts/leaflet.ie.css">
<![endif]-->
<script type="text/javascript" src="/scripts/leaflet.js"></script>
<script type="text/javascript" src="/scripts/leaflet.markercluster.js"></script>
<% end %>

<script type="text/javascript">
var _prum = [['id', '547b9a1eabe53d373b300dbc'],
             ['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();
</script>

<%= yield(:extrahead) %>
