<script type="text/javascript">
	var map;
	$(document).ready(function () {
		map = new L.Map('map');
		var cloudmade = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: 18
		});
		var center = new L.LatLng(<%= @location.lat %>, <%= @location.lng %>);
		map.setView(center, 14).addLayer(cloudmade);
		var marker = L.marker([<%= @location.lat %>, <%= @location.lng %>]).addTo(map);
	<% if @location.respond_to? 'map_marker_text' %>
		marker.bindPopup("<%= @location.map_marker_text %>")
	<% end %>
	});
</script>