<script type="text/javascript">
	var map;
	$(document).ready(function () {
		map = new L.Map('map');
		var cloudmade = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: 18
		});
	<% if @locations.first %>
		var center = new L.LatLng(<%= @locations.first.lat %>, <%= @locations.first.lng %>);
	<% else %>
		var center = new L.LatLng(53, -2);
	<% end %>
		map.setView(center, 6).addLayer(cloudmade);
		var p1, p2, line
	<% @locations.each_with_index do |location, i| %>
		<% next if i == 0 %>
		p1 = new L.LatLng(<%= location.lat %>, <%= location.lng %>);
		p2 = new L.LatLng(<%= @locations[i-1].lat %>, <%= @locations[i-1].lng %>);
		line = new L.Polygon([p1, p2]);
		map.addLayer(line);
	<% end %>
	});
</script>