<script type="text/javascript">
	$(document).ready(function() {
		var map = new L.Map('map');
		var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/778f546f046c4a63849269eb53d92a84/997/256/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			maxZoom: 18
		});
		var center = new L.LatLng(<%= @location.lat %>, <%= @location.lng %>);
		map.setView(center, 14).addLayer(cloudmade);
		var marker = L.marker([<%= @location.lat %>, <%= @location.lng %>]).addTo(map);
	<% if @location.respond_to? 'map_marker_text' %>
		marker.bindPopup("<%= @location.map_marker_text %>")
	<% end %>
	});
</script>