<script type="text/javascript">
	$(document).ready(function() {
		var map = new L.Map('map');
		var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/778f546f046c4a63849269eb53d92a84/997/256/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			maxZoom: 18
		});
	<% unless @locations.first.nil? %>
		var center = new L.LatLng(<%= @locations.first.lat %>, <%= @locations.first.lng %>);
	<% else %>
		var center = new L.LatLng(53, -1);
	<% end %>
		map.setView(center, 8).addLayer(cloudmade);
		var markers = L.markerClusterGroup();
	<% @locations.each do |location| %>
		marker = L.marker([<%= location.lat %>, <%= location.lng %>])
		<% if location.respond_to? 'map_marker_text' %>
		marker.bindPopup("<%= location.map_marker_text %>")
		<% end %>
		markers.addLayer(marker);
	<% end %>
		map.addLayer(markers);
	});
</script>