<script type="text/javascript">
	var map;
	$(document).ready(function () {
		map = new L.Map('map');
		var cloudmade = new L.TileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: 18
		});
	<% unless @locations.first.nil? %>
		var center = new L.LatLng(<%= @locations.first.lat %>, <%= @locations.first.lng %>);
	<% else %>
		var center = new L.LatLng(53, -1);
	<% end %>
		map.setView(center, 8).addLayer(cloudmade);
		var markers = L.markerClusterGroup();
	<% @locations.each do |location| %>
		marker = L.marker([<%= location.lat %>, <%= location.lng %>])
		<% if location.respond_to? 'map_marker_text' %>
		marker.bindPopup("<%= location.map_marker_text %>")
		<% end %>
		markers.addLayer(marker);
	<% end %>
		map.addLayer(markers);
	});
</script>