<%= form_for(@account) do |f| %>
  
	<div class="form-group<%= " has-error" if errors_for @account, :number %>">
		<%= f.label :number, class: "control-label" %>
		<%= f.text_field :number, class: "form-control" %>
		<span class="help-block"><%= errors_for @account, :number %></span>
	</div>
	<div class="form-group<%= " has-error" if errors_for @account, :name %>">
		<%= f.label :name, class: "control-label" %>
		<%= f.text_field :name, class: "form-control" %>
		<span class="help-block"><%= errors_for @account, :name %></span>
	</div>
	<div class="form-group<%= " has-error" if errors_for @account, :credential %>">
		<%= f.label :credential, class: "control-label" %>
		<%= f.text_field :credential, class: "form-control" %>
		<span class="help-block"><%= errors_for @account, :credential %></span>
	</div>
	<div class="actions"><%= f.submit "Submit", class: "btn btn-primary" %></div>

<% end %>
