<% provide(:title, "Accounts") %>
<% provide(:description, "A list of my account credentials because I forget.") %>

<h1>Accounts</h1>
<nav class="btn-group">
	<% css = "btn" %>
	<% css += " btn-primary" if params[:order].nil? %>
	<%= link_to "Most Recent", request.path, class: css %>
	<% css = "btn" %>
	<% css += " btn-primary" if params[:order] == "name" %>
	<%= link_to "A-Z", request.path + "?order=name", class: css %>
</nav>

<section class="row">
	<article class="col-md-8">
		<table class="table table-striped">
			<% @accounts.each do |account| %>
			<tr>
				<td><%= account.number %></td>
				<td><%= link_to account.name, edit_account_path(account) %></td>
				<td><%= account.credential %></td>
			</tr>
			<% end %>
		</table>
		<%= paginate @accounts %>
	</article>
	<article class="col-md-4">
		<h3>New Account</h3>
		<%= render 'form' %>
	</article>	
</section>


