<% provide(:title, 'Trains') %>
<% provide(:description, 'Track your train journeys with this handy tool that will let you plan and collect your travel data.') %>

<h1>Trains</h1>

<ol class="breadcrumb">
  <li class="active">Trains</li>
  <li><%= link_to "Schedules", trains_schedules_path %></li>
  <li><%= link_to "Locations", trains_locations_path %></li>
  <li><%= link_to "Companies", trains_operating_companies_path %></li>
</ol>

<section class="row">

	<article class="col-md-8">
		<header class="jumbotron">
			<h1>Track your train journeys</h1>
			<p>Pun intended.</p>
			<%= link_to "Login or Register", trains_journeys_path, class: "btn btn-default" if current_user.nil? %>
		</header>
	</article>

	<article class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= link_to "My Recent Journeys","/users/1" %></h3>
			</div>
			<div class="panel-body">
			<% @journeys.each do |journey| %>
				<p><%= link_to journey, journey %></p>
			<% end %>
			</div>
		</div>
	</article>
	
</section>

<section class="row">
	<article class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= link_to "Schedules", trains_schedules_path %></h3>
			</div>
			<div class="panel-body">
				<%= form_tag(trains_schedules_path, :method => "get", :class => "text-center") do %>
					<div class="input-append">
						<%= text_field_tag(:origin, @from, class: "typeahead form-control", placeholder: "Origin", autocomplete: "off", "data-type" => "locations") %>
						<a class="btn geo" data-field="origin" style="display:none"><%= icon("map-marker") %></a>
					</div>
					<div class="input-append">
						<%= text_field_tag(:destination, @to, class: "typeahead form-control", placeholder: "Destination", autocomplete: "off", "data-type" => "locations") %>
						<a class="btn geo" data-field="destination" style="display:none"><%= icon("map-marker") %></a>
					</div>
					<div>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#advanced" href="#advanced-options">Advanced Options</a>				
					</div>
					<div class="accordion" id="advanced">
							<div id="advanced-options" class="accordion-body collapse out">
			  					<label><%= check_box_tag(:non_public, true, @non_public) %> Include non-public schedules</label>
								<label><%= check_box_tag(:buses, true, @buses) %> Include bus schedules</label>
							</div>
					</div>
					<div>
						<%= submit_tag("Search", :class => "btn btn-primary") %>
					</div>
				<% end %>
			</div>
		</div>
	</article>
</section>

